/**
* ! style rules for sectionOne
**/

.sectionOne__left--text{
    font-family: var(--font-2);
    font-size: var(--body);
    color: var(--color-white-75);
}

.sectionOne__left--btn{
    align-self: start;
    margin-top: 20px;
}

/**
* ! style rules for sectionTwo
**/

.sectionTwo{
    padding: 40px 0;
    display: grid;
    gap: 30px;
}

.sectionTwo--content--text{
    font-family: var(--font-2);
    font-size: var(--sub);
}

.sectionTwo--logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sectionTwo--logo img{
    justify-self: center;
    align-self: center;
}

.sectionTwo--btn{
   justify-self: center;
}

/**
* ! style rules for sectionThree
**/

.sectionThree--right--text{
    color: var(--color-dark-50);
    font-family: var(--font-2);
    font-size: var(--body);
}

.sectionThree--right--btn{
    align-self: start;
}

/**
* ! style rules for sectionFour
**/
.sectionFour--left--text{
    color: var(--color-dark-50);
    font-family: var(--font-2);
    font-size: var(--body);
}

.sectionFour--left--Btn{
    align-self: start;
}

/**
* ! style rules for sectionFive
**/

.sectionFive{
    display: grid;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sectionFive--content--text{
    font-size: var(--sub);
    font-family: var(--font-2);
}

.sectionFive--cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

[class^="sectionFive--cards--"]{
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: var(--shadow-1);
    border-radius: 5px;
    padding: 20px 25px;
}

[class^="sectionFive--cards--"] .name{
    font-family: var(font-1);
    font-size: var(--h5);
    font-weight: bold;
}

.sectionFive--Btn{
    justify-self: center;
}

[class^="sectionFive--cards--"] .position{
    font-family: var(--font-2);
    color: var(--color-dark-75);
    text-transform: uppercase;
}

/**
* ! media queries are here
*/

@media(max-width: 1200px){
    .sectionTwo--logo{
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}

@media(max-width: 768px){
    .sectionOne__right{
        order: 0;
    }
    .sectionOne__left{
        order: 1;
    }
    .sectionFour--right{
        order: 0;
    }
    .sectionFour--left{
        order: 1;
    }
    .sectionFive--cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 568px){
    .sectionTwo--logo{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .sectionFive--cards{
        grid-template-columns: repeat(1, 1fr);
    }
}



















































