.sectionOne{
    display: grid;
    gap: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.sectionOne__image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.sectionOne__content--text{
    font-size: var(--sub);
    font-family: var(--font-2);
}

.sectionOne__content--Btn{
    justify-self: center;
}

@media(max-width: 568px){
    .sectionOne__image{
        grid-template-columns: repeat(1, 1fr);
    }
}